.shortcut {
  float: right;
  font-size: 0.7em;
}

/* make file input element invisible */
.file-input {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -99;
  width: 0.01em;
  height: 0.01em;
}

/* make file input label seem like a clickable item */
.file-input-label {
  cursor: pointer;
  flex-grow: 1;
}
