.navbar {
  line-height: 48px;
  display: flex;
  align-content: stretch;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  height: 48px;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid #f0f0f0;
}

.navbar-logo {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

@media only screen and (max-width: 576px) {
  .navbar-logo-container {
    border-bottom: none;
  }
}

.navbar-menu {
  flex: 1;
}

.hamburger-menu-icon {
  transform: scale(1.5);
  line-height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
}

.hamburger-menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
  justify-content: right;
  align-items: center;
}

@media only screen and (max-width: 576px) {
  .navbar-menu {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .navbar {
    border-bottom: 1px solid #f0f0f0;
  }
}
