.scroll-bar {
  height: 100%;
  width: 1.0em;
  float: right;
  background-color: #F0F0F0;
}

.scroll-bar-button {
  /* set position */
  position: absolute;
  /* set size */
  height: 1.0em;
  width: 1.0em;
  /* center text */
  display: flex;
  align-items: center;
  justify-content: center;
  /* make pretty */
  background-color: #D3D3D3;
  cursor: pointer;
}

.scroll-bar-button-up {
  top: 0%;
}

.scroll-bar-button-down {
  top: calc(100% - 1.0em);
}

/* make bar handle darker when hovering */
.scroll-bar-button-up:hover,
.scroll-bar-button-down:hover {
  background-color: #C3C3C3;
}

/* make bar handle darker when button down */
.scroll-bar-button-up:active,
.scroll-bar-button-down:active {
  background-color: #B3B3B3;
}
