.scroll-bar-handle {
  /* set position */
  position: absolute;
  /* top: 5em; */
  top: 1.0em;
  /* set size */
  /* height is set programmatically */
  /* height: 4em; */
  width: 1.0em;
  /* center text */
  text-align: center;
  /* vertical-align: middle; */
  line-height: 1.0em;
  /* make pretty */
  background-color: #B3B3B3;
  cursor: pointer;
}

/* make bar handle darker when hovering */
.scroll-bar-handle:hover {
  background-color: #A3A3A3;
}

/* make bar handle darker when button down */
.scroll-bar-handle:active {
  background-color: #838383;
}