/* disable user select as described in https://stackoverflow.com/questions/3779534/how-do-i-disable-text-selection-with-css-or-javascript */
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}