.ant-layout-footer {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;  
  padding-bottom: 1em;
  overflow: hidden;
}

.status-text {
  display: inline-block;
  transition: all 0.25s ease-out;
  white-space: nowrap;
  overflow-x: visible;
}

.status-text.fade-in {
  opacity: 1;
}

.status-text.fade-out {
  opacity: 0;
  transform: translateY(-1.5em);
}
