/********************
* General
*********************/

.ant-layout, .ant-layout-header, .ant-layout-footer {
  background: #FFFFFF;
}

.ant-layout {
  height: 100vh;
}

/********************
* Content
*********************/

.ant-row,
.ant-row-flex,
.ant-row-xs-12,
.ant-card,
.ant-card-body,
.ant-tabs,
.col-height {
  height: 100%;
}

@media only screen and (max-width: 576px) {
  .col-height {
    height: 50%;
  }
}

.ant-tabs-content {
  height: 100%;
}

.ant-layout-header {
  padding-left: 1em;
  padding-right: 1em;
}

.ant-tabs-tabpane, .ant-tabs-tabpane-active {
  height: 100%;
  overflow: auto;
  white-space: nowrap;
}

/* make all content same height */
.main-area {
  /* 64px and 69px are the heights of the header and footer respectively */
  /* max-height: calc(100vh - 64px - 69px); */
  /* footer height: 14px * 1.5 line height + 1em padding-top + 1em padding-bottom */
  height: calc(100vh - 64px - 21px - 2em);
  padding-left: 1em;
  padding-right: 1em;
  /* height: 100%; */
}

.main-area .ant-card-body {
  padding: 1em;
}
