.value-pane {
  overflow-y: auto;
}

/* vertically align header with tabs */
.value-pane .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  height: 38px;
  line-height: 14px;
}

.value-pane .ant-form-item {
  margin-bottom: 0px;
}

.value-pane .ant-form-item-control-input {
  padding-top: 4px;
  padding-bottom: 4px;
}

.value-pane .ant-form-item-label {
  align-self: center;
}

@media only screen and (max-width: 576px) {
  .ant-form-item .ant-form-item-label {
    padding-bottom: 0px;
  }
}