.ascii {
  display: inline-flex;
  font-family: monospace;
  white-space: pre;
}

.ascii-character {
  border: 1px solid transparent;
  white-space: pre;
  cursor: pointer;
}

.ascii-marked {
  background: #ffffb8
}

span:hover.ascii-character {
  background-color: lightgray;
}

span.ascii-character.cursor-position.bytes-mode {
  border: 1px solid black;
}

span.ascii-character.cursor-position.ascii-mode {
  background: rgb(180, 180, 180);
}