/* show vertical line at right border */
/* see: https://stackoverflow.com/questions/257505/css-fixed-width-in-a-span */
.bytes {
  display: inline-flex;
  margin-right: 0.5em;
  padding-right: 0.5em;
  border-right: 1px solid;
  font-family: monospace;
}