.nibble {
  border: 1px solid transparent;
  white-space: pre;
  cursor: pointer;
}

.nibble-blank {
  border: 1px solid transparent;
  white-space: pre;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.nibble-leftmost {
  margin-left: 0.25em;
  /* margin-right: -0.05em; */
}

.nibble-rightmost {
  /* margin-left: -0.05em; */
  margin-right: 0.25em;
}

.nibble-marked {
  background: #ffffb8
}

span:hover.nibble {
  background-color: lightgray;
}

span.nibble.cursor-position.bytes-mode {
  background: rgb(180, 180, 180);
}

span.nibble.cursor-position.ascii-mode {
  border: 1px solid black;
}